<!-- Header Start -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Témoignage</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Témoignage</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->

<!-- Speaker Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">Ce Que Nos Clients Disent</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="speaker-item bg-light rounded p-4">
                <p>Le service était exceptionnel et l'équipe était très professionnelle. Je recommande vivement cette entreprise.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/p1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Nawal Rachid</h5>
                        <small>Chef de Projet</small>
                    </div>
                </div>
            </div>
            
            <div class="speaker-item bg-light rounded p-4">
                <p>J'ai eu une excellente expérience avec cette entreprise. Le personnel est sympathique et compétent.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/p3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Reda Alami</h5>
                        <small>Directeur Marketing</small>
                    </div>
                </div>
            </div>
            
            <div class="speaker-item bg-light rounded p-4">
                <p>Les produits sont de grande qualité et le service après-vente est impeccable. Je suis très satisfait.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/p2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Nahid Rizqi</h5>
                        <small>Consultante</small>
                    </div>
                </div>
            </div>
            
            <div class="speaker-item bg-light rounded p-4">
                <p>Un service client exemplaire et une équipe toujours à l'écoute. Je recommande sans hésitation.</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/p4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Omar Latifi</h5>
                        <small>Ingénieur</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Speaker End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Entreprise</h5>
                <a class="btn btn-link text-white-50" href="#">À propos de nous</a>
                <a class="btn btn-link text-white-50" href="#">Nous contacter</a>
                <a class="btn btn-link text-white-50" href="#">Nos services</a>
                <a class="btn btn-link text-white-50" href="#">Politique de confidentialité</a>
                <a class="btn btn-link text-white-50" href="#">Conditions générales</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Liens rapides</h5>
                <a class="btn btn-link text-white-50" href="#">Accueil</a>
                <a class="btn btn-link text-white-50" href="#">Actualités</a>
                <a class="btn btn-link text-white-50" href="#">Événements</a>
                <a class="btn btn-link text-white-50" href="#">Contact</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Contact</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Rue, Safi, Maroc</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+212 555 123 456</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@almoutmir.ma</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Newsletter</h5>
                <p>Abonnez-vous à notre newsletter pour recevoir les dernières nouvelles et mises à jour.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Votre email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">AL MOUTMIR – SAM PROJECT</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="#">Accueil</a>
                        <a href="#">Cookies</a>
                        <a href="#">Aide</a>
                        <a href="#">FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
